.createRequestBtn {
  margin-top: 3vh;
  margin-left: 17vh;
}

.teal {
  color: #008080;
  margin-top: 0px;
  margin-bottom: 0px;
}

.orange {
  color: #FE9A76;
  margin-top: 0px;
  margin-bottom: 0px;
}