.addKidModal {
    background-color: #8298ca !important;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: rgb(247, 240, 240);
}
.alert {
    background-color: #ff4545;
    margin: 50px;
}
form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}
input {
    margin: 5px;
    margin-bottom: 10px;
}
.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;

  
}
.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}
/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
.Offering {
    color: rgb(12, 12, 122);
}
.Needed {
   color: rgb(230, 149, 0);
}
.saveChangesBtn {
    padding-top: 1vh;
}
.addKidBtn {
   padding-top: 1vh;
}
.editProfileBtns {
    display: inline-flex;
    padding: 2vh;
}
/* .editProfileHeader {
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    font-size: 50px !important;
} */
 .card{
    padding: 2vh;
}
.editIcon {
    padding-top: 6%;
}
.editInputs {
    padding-top: 1vh;
    width: 30vh;
}
/* .formBackground {
    background-color: #8298ca;
    border-radius: 2%;
    margin-top: 1vh;
    margin-left: 3vh;
    width: 50vh;
} 
.formInputsBtns{
    margin-left: 10vh;
} */
.modalBtns {
    display: inline-flex;
    padding: 2vh;
}
@media only screen and (min-width: 375px) and (min-height: 667px) {
    .calendar {
        width: 375px;
    }
    .timeAndDatePicker {
    background-color:white;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 85px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 51px;
    margin-bottom: 51px;
    box-shadow: 5px;
    outline: none;
    border: solid 1px white;
    border-radius: 5px;
    }
    .formBackground {
    background-color: #8298ca;
    margin-top: 5vh;
    margin-left: 3vh;
    margin-right: 3vh;
    padding: 20px;
    width: 50vh;
    height: 140vh;
    }
    .editInputs {
    padding-top: 1vh;
    width: 40vh;
    margin-left: 13px;
    }
    .loginInputs {
    padding-top: 1vh;
    width: 40vh;
    }
}
@media only screen and (min-height: 812px) {
    .timeAndDatePicker {
        background-color: white;
        position: absolute;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 85px;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 124px;
        margin-bottom: 124px;
        box-shadow: 5px;
        outline: none;
        border: solid 1px white;
        border-radius: 5px;
        }
}
@media only screen and (min-height: 736px) {
    .timeAndDatePicker {
        background-color: white;
        position: absolute;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 85px;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 86.50px;
        margin-bottom: 86.50px;
        box-shadow: 5px;
        outline: none;
        border: solid 1px white;
        border-radius: 5px;
    }
}
@media only screen and (min-width: 768px) {
    .formBackground {
        background-color: #8298ca;
        margin-top: 2vh;
        margin-left: 8vh;
        width: 60vh;
    }
    .formInputsBtns{
        margin-left: 10vh;
        
    }
    .editInputs {
        padding-top: 1vh;
        width: 40vh;
    
    }
    .editProfileBtns {
        display: inline-flex;
        padding: 2vh;
        padding-left: 12vh;
    }
    .editProfileHeader {
        margin: 1vh;
        padding: 1vh;
        text-align: center;
        font-size: 20px;
    }
    .calendar {
        margin: 1vh;
        padding: 1vh;
        width: 1000px;
    }
}
@media only screen and (min-width: 1000px) {
    .formBackground {
        background-color: #8298ca;
        margin-top: 2vh;
        margin-left: 38vh;
        width: 100vh;
        height: 132vh;
    }
    .formInputsBtns{
        margin-left: 12vh
    
    }
    .editInputs {
        padding-top: 1vh;
        width: 70vh;
    
    }
    .editProfileBtns {
        display: inline-flex;
        padding: 2vh;
        padding-left: 24vh;
    }
    .calendar {
        margin: 1vh;
        padding: 1vh;
        width: 1000vh;
    }
}

