
.editProfileBtns {
  margin-left: 4vh;
}

.kidformBackground {
  background-color: #8298ca;
  border: solid;
  border-radius: 5px;
  margin-top: 2vh;
  margin-left: 3vh;
  width: 50vh;
  height: 120vh;
}

.kidFormInputsBtns {
  margin-left: 3vh;
}

