.loginForm {
  background-color: #dbd5d5;
  width: 60%;
  height: 340px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 2px;
}

.loginFormBackground {
  height: 40vh;
}

.loginPageInputs {
  padding-left: 21px;
}

.newLink-button {
  align-content: center;
}

.loginBtn {
  margin-left: 6vh;
  padding-top: 2vh;

}